.container {
  width: 80%;
  margin: 20px auto;
}

/* Add Card Styles */
.username {
  padding: 5px;
  border: 0;
  border-bottom: 1px solid #282c34;
  background-color: transparent;
  width: 100%;
  margin-bottom: 20px;
}
.username:focus, 
.username:active, 
.btn:active, 
.btn:focus {
  border: 1px solid #282c34;
  outline: 1px solid #282c34;
  border-radius: 3px;
}
.btn {
  padding: 7px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  background-color: #282c34;
  color: #fff;
  width: 100%;
}

/* Card Item Styles */
.crd-itm {
  display: flex;
  justify-content: center;
  width: 100%;
}
.cards-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin-top: 50px;
}
.card-wrapper {
  display: grid;
  grid-template-columns: 80px auto;
  grid-gap: 20px;
  background-color: rgba(204, 204, 204, 0.274);
  box-shadow: 3px 3px 3px rgb(122, 122, 122);
  padding: 5px;
  width: 100%;
}
.card-img,
.card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  word-wrap:break-word;
}
.card-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.card-details {
  color: #282c34;
  text-align: left;
}
.card-details h2 {
  font-size: 1.3rem;
}
.card-details p {
  width: 100%;
  font-size: 1rem;
  display: grid;
  grid-template-columns: 30px auto;
}
.card-details i {
  font-size: .9rem;
  color: #000;
}

/* Github Profile Page Styles */
.section-a {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.section-a img {
  border-radius: 50%;
  vertical-align: middle;
  max-width: 100px;
  border: 10px solid #282c34;
  margin-bottom: 20px;
}
.detail {
  text-align: center;
}
.detail h1 {
  color: rgba(255, 99, 132, 1);
  text-transform: uppercase;
}
.detail p {
  font-size: large;
  font-weight: bold;
}
.sub-details {
  margin: 20px;
}
.section-a .fa {
  font-size:26px;
  color: rgba(255, 99, 132, 1);
  margin: 0 10px;
}
.sub-details {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
.sub-details span {
  font-weight: bold;
}
.section-b {
  width: 100%;
  margin: 50px auto;
  text-align: left;
}
.repo-details {
  width: 100%;
  display: grid;
  grid-gap: 30px;
}
.repo_wrapper {
  box-shadow: 2px 2px 2px #282c34;
  border: 10px;
  background-color: rgba(238, 238, 238, 0.555);
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.repo_wrapper h4, .repo_wrapper p {
  margin-bottom: 20px;
  overflow: hidden;
}
.repo-group {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
  position: absolute;
  bottom: 5px;
}
.section-b a {
  color: #282c34;
}
.section-b a:hover {
  color: #000;
}
.section-b .fa {
  font-size: 15px;
  color: rgba(255, 99, 132, 1);
  margin-right: 3px;
}

@media (min-width: 670px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
  .username {
    width: 70%;
    margin-bottom: 0;
  }
  .btn {
    width: 30%;
  } 
  .boxes {
    font-size: .8rem;
  }
  .box {
    padding: 15px;
  }
  .repo-details {
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
  .repo_wrapper {
    width: 100%;
  }
  .section-b {
    width: 100%;
  }
  .section-a img {
    max-width: 150px;
  }
}

@media (min-width: 950px) {
  .container {
    width: 85%;
  }
  .cards-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
  .repo-details {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
  }
  .section-a {
    width: 80%;
  }
  .repo-details {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .section-a img {
    max-width: 200px;
  }
}

@media (min-width: 1750px) {
  .container{
    width: 90%;
  }
  .cards-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}

@media (min-width: 2000px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
  }
  .repo-details {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  } 
  .section-a img {
    max-width: 300px;
  }
}
